.container-forms {
  flex-direction: column;
  display: flex;
  width: 20vw;
  position: absolute;
}

.ui.form.author-checkbox,
.ui.form.radio {
  float: left;
  max-width: 100%;
}

.ui.checkbox input:focus ~ label,
.ui.checkbox label {
  color: var(--font-color);
  &:hover {
    color: var(--font-color);
  }
}

.book-category {
  margin-right: 20px;
  a,
  button {
    display: inline-block;
    font-size: 16px;
    color: #636363;
    padding: 5px 15px;
    border: 1px solid #ebebeb;
    margin-right: 5px;
    margin-bottom: 9px;
    border-radius: 2px;
  }
  a:hover {
    color: black;
  }
}

.container-forms {
  .form:not(:first-child) {
    margin-top: 20px;
  }
  .filter-title:not(:first-child) {
    margin-top: 20px;
  }
  p {
    margin-top: 15px;
  }
}

.author-checkbox,
.radio {
  ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  li {
    margin-bottom: 0.3em;
  }
  label {
    margin-bottom: 0;
  }
  .h4 {
    padding: 0px;
  }
  label:hover {
    color: black;
  }
}

.filter-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.my-pagination {
  display: flex;
  align-self: auto;
  margin-top: auto;
}

.advanced-search .category-btn {
  font-size: 0.95em !important;
}

.container-forms {
  label {
    font-size: 16px;
    color: #636363;
  }
  input {
    margin-right: 0.3em;
  }
}

.ui.checkbox {
  label {
    padding-left: 1.5em;
    font-size: 16px;
    color: #636363;
    margin-bottom: 9px;
  }
}
