env
**/*.pyc
**/__pycache__
build
package-lock.json
bin
lib
include
db.sqlite3
*sqlite3*
*.db
sqlite3
/thumbnails
/node_modules
*.db
share
.mypy_cache/
.env
.env.development
*.bak
/ecom/frontend/static/frontend/main.js
.~lock*
creditcard
static
media
*.log
pyvenv.cfg