<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="https://bookshop-images-f1492f08-f236-4a55-afb7-70ded209cb24.s3.eu-west-2.amazonaws.com/resources/logo-petite-portugaise-300.png" sizes="16x16" type="image/png">
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/cosmo/bootstrap.min.css"
    />
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
    <title>La petite portugaise: bookshop</title>
    {% load static %}
    <link rel="manifest" href="{% static 'pwa/manifest.json' %}">
    <!-- ios support start -->
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-72x72.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-96x96.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-128x128.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-144x144.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-152x152.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-192x192.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-384x384.jpg' %}">
    <link rel="apple-touch-icon" href="{% static 'pwa/icon-512x512.jpg' %}">
    <!-- overrides manifest.json theme-color -->
    <meta name="theme-color" content="#7dcbd8">
    <!-- colorize status bar -->
    <meta name="apple-mobile-web-app-status-bar" content="#7dcbd8">
    <!-- ios support end -->
  </head>
  <body>
    
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div id="root"></div>
    <!-- laod stripe synchronously before main.js -->
    <script id="stripe-js" src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'frontend/main.js' %}"></script>
    {% if POSTHOG_KEY %}
    <script>
      !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init('{{POSTHOG_KEY}}', {api_host: '{{POSTHOG_DOMAIN}}'})
    </script>
    {% endif %}
  </body>
</html>
