.ui.container {
  margin-top: 50px;
}

.container {
  max-width: 1450px;
}

.footer-section {
  padding-right: 150px;
  padding-left: 150px;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  .centermyitems {
    flex-basis: 100%;
    text-align: center;
  }
}

.copyright-reserved {
  img {
    float: right;
  }
  flex-flow: row wrap;
  justify-content: space-around;
}
