.ui.inverted.menu {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  span {
    color: black;
  }
  .arrow {
    color: black;
  }
}

.ui.container {
  margin-top: 50px;
}

// .side-search {
//     display: block;
//     position: absolute;
//   }
