.ui.container {
  margin-top: 50px;
}

.container {
  max-width: 1450px;
}

.footer-section {
  padding-right: 150px;
  padding-left: 150px;
}

.footer-flex {
  display: flex;
  flex-direction: row;
}
