.ui.inverted.menu {
  span {
    color: black;
  }
  .arrow {
    color: black;
  }
}

.ui.container {
  margin-top: 50px;
}

// .side-search {
//     display: block;
//     position: absolute;
//   }
