body {
  margin: 0;
  background: rgba(225, 219, 233, 0.3);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}
.content {
  ul {
    margin-top: 20px;
    padding: 0;
  }
}

.picture {
  img {
    width: 100%;
    height: 100%;
  }
}
.card {
  margin: 0 !important;
}
.pagination {
  margin-top: 50px;
  display: inline-flex;
  align-self: auto;
  margin-top: auto;
}

.pagination + p {
  padding: 2px;
}

.pagination .active {
  color: #fb5270;
}

.grid {
  .item {
    width: 228px;
  }
}

.four .image img {
  object-fit: cover;
  height: 250px !important;
  width: 200px !important;
}
.ui.container {
  margin-top: 50px;
}
.ui.divided.grid .column {
  box-shadow: none !important;
}

.side-search {
  display: block;
  position: absolute;
}

.author-checkbox,
.radio {
  ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
  }
  .h4 {
    padding: 0px;
  }
}

.ui.form.author-checkbox,
.ui.form.radio {
  float: left;
  max-width: 100%;
}

.author-checkbox .checkbox,
.container-forms {
  flex-direction: column;
  display: flex;
  width: 15vw;
}

.ui.container {
  width: 80vw;
  flex-direction: row;
  display: flex;
}
