.ui.grid {
  margin: 0;
}
.ui.container.booklist {
  width: 80vw;
  flex-direction: row;
  display: flex;
}

.container-wrapper {
  max-width: 1430px;
  margin: auto;
}
.container-cta {
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  border-radius: 15px;
  background-image: url(https://bookshop-images-f1492f08-f236-4a55-afb7-70ded209cb24.s3.eu-west-2.amazonaws.com/resources/image-back-to-school.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: block;
  i {
    position: absolute;
    float: right;
    bottom: 225px;
    color: white;
    right: 20px;
    padding: 30px;
  }
  h1 {
    font-family: "Caveat", cursive;
    color: white;
    padding-left: 20vw;
    padding-top: 8vh;
  }
  h3 {
    font-family: "Caveat", cursive;
    color: white;
    padding-left: 20vw;
    a {
      text-decoration: underline;
      padding-left: 0px;
    }
  }
}
// font-family: 'Pacifico', cursive;
// font-family: 'Caveat', cursive;

.ui.divided.grid {
  .column {
    box-shadow: none !important;
  }
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Book tilt effect */

.bk-list {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 700px;
}

.bk-list li {
  position: relative;
  width: 300px;
  float: left;
  z-index: 1;
  // margin: 0px 50px 40px 0;
  -webkit-perspective: 1800px;
  perspective: 1800px;
}

.bk-list li:last-child {
  margin-right: 0;
}

.bk-info {
  position: relative;
  h3 {
    padding: 25px 0 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 26px;
  }
  p {
    line-height: 24px;
    color: #444;
    min-height: 160px;
  }
  button {
    background: #f0f8ff00;
    border-color: #f0f8ff00;
    padding: 0;
    .btn {
      background: #7dcbd8;
      border: none;
      color: #fff;
      display: inline-block;
      padding: 3px 15px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      margin-right: 4px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    }
  }
}

.bk-info h3 span:first-child {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: block;
  color: #777;
}

.bk-info button.bk-active,
.bk-info button:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8),
    inset 0 -1px 1px rgba(0, 0, 0, 0.2);
}

.no-touch .bk-info button:hover,
.bk-info button.bk-active {
  background: #d0544e;
}

.bk-list li .bk-book {
  position: relative;
  width: 100%;
  height: 430px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.bk-list li .bk-book.bk-bookdefault:hover {
  -webkit-transform: rotate3d(0, 1, 0, 35deg);
  transform: rotate3d(0, 1, 0, 35deg);
}

.bk-list li .bk-book > div,
.bk-list li .bk-front > div {
  display: block;
  position: absolute;
}

.bk-list li .bk-front {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}

.bk-list li .bk-front > div {
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bk-list li .bk-page {
  -webkit-transform: translate3d(0, 0, 19px);
  transform: translate3d(0, 0, 19px);
  display: none;
  width: 295px;
  height: 420px;
  top: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 9;
}

.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front > div {
  width: 300px;
  height: 430px;
}

.bk-list li .bk-left,
.bk-list li .bk-right {
  width: 40px;
  left: -20px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
  width: 295px;
  height: 20px;
  top: -10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bk-list li .bk-back {
  -webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transform: rotate3d(0, 1, 0, -179deg);
  transform: rotate3d(0, 1, 0, -179deg);
}

.bk-list li .bk-right {
  height: 390px;
  top: 5px;
  -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
  -moz-transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
  transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, 295px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bk-list li .bk-left {
  height: 430px;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
}

.bk-list li .bk-top {
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  transform: rotate3d(1, 0, 0, 90deg);
}

.bk-list li .bk-bottom {
  -webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
  transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
}

/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
  -webkit-transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
  transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
}

.bk-list li .bk-book.bk-viewinside {
  -webkit-transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
  transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
}

.bk-list li .bk-book.bk-viewback {
  -webkit-transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
  transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
}

/* Main colors and content */

.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
  background-color: #fff;
}

.bk-list li .bk-front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-list li .bk-front:after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.bk-list li .bk-cover:after,
.bk-list li .bk-back:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-list li .bk-back:after {
  left: auto;
  right: 10px;
}

.bk-left h2 {
  width: 430px;
  height: 40px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.bk-content {
  position: absolute;
  top: 30px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  padding: 30px;
  overflow: hidden;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: default;
}

.bk-content-current {
  opacity: 1;
  pointer-events: auto;
}

.bk-content p {
  padding: 0 0 10px;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bk-page nav {
  display: block;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.bk-page nav span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #aaa;
  background: #f0f0f0;
  border-radius: 50%;
}

/* Individual style & artwork */

.bk-front > div,
.bk-back,
.bk-left,
.bk-front:after {
  background-color: #000000;
}

.bk-cover {
  background-repeat: no-repeat;
  background-position-x: center;
}

.bk-cover h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bk-cover h2 span:first-child,
.bk-left h2 span:first-child {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.bk-cover h2 span:first-child {
  display: block;
}

.bk-cover h2 span:last-child,
.bk-left h2 span:last-child {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.bk-content p {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.bk-left h2 {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
}

.bk-back p {
  color: #fff;
  font-size: 13px;
  padding: 40px;
  text-align: center;
  font-weight: 700;
}

.whitebackground {
  background: white;
  background-color: white !important;
}

/* End Individual style & artwork */

@media screen and (max-width: 1482px) {
  .bk-list li {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}

@media screen and (max-width: 759px) {
  .inner-header .col-lg-2.col-md-2 {
    width: 30%;
  }
  .inner-header .col-lg-7.col-md-7 {
    width: 70%;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .inner-header .col-lg-3.text-right.col-md-3 {
    display: none;
  }
}
@media screen and (max-width: 759px) {
  .inner-header .advanced-search .input-group input {
    padding-left: 10px;
  }
  .inner-header .col-lg-7.col-md-7 {
    width: 60%;
  }
  .breadcrumb-text {
    padding-top: 50px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 410px) {
  .inner-header {
    .logo {
      margin-left: 30px !important;
    }
  }
}

@media screen and (max-width: 775px) {
  .bk-list {
    justify-content: center;
  }

  .container-forms {
    display: none;
  }
  .bk-list li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 1590px) {
  .bk-list li {
    width: 200px;
  }
  .bk-list li .bk-book,
  .bk-list li .bk-book .bk-page,
  .bk-list li .bk-book .bk-back,
  .bk-list li .bk-book .bk-back div,
  .bk-list li .bk-book .bk-front div,
  .bk-list li .bk-book .bk-front {
    width: 200px;
    height: 350px;
  }
  .bk-list li .bk-book .bk-right,
  .bk-list li .bk-book .bk-left {
    height: 350px;
    h2 {
      width: 350px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .ui.container.booklist {
    width: 90vw;
  }
}

@media screen and (max-width: 830px) {
  .ui.container.booklist {
    width: 95vw;
  }
}
@media screen and (max-width: 530px) {
  .ui.container.booklist {
    width: 100vw;
  }
}
